<h1>Register Here</h1>
<form method="post">
    <input type="text" placeholder="name" name="name"/>
    <input type="text" placeholder="email" name="username" />
    <input type="text" placeholder="password" name="password"/>

    <button type="submit">register</button>
</form>